
<%= @messages.each do |message| %>
	<div class="row">
		<div class="col-md-6">
			<div><%= message.message_one %></div>
		</div>
		<div class="col-md-6">
			<div><%= message.message_two %></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" text-left">
			<%= link_to "View Differences", message_path(message), class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<%= link_to "New Message", new_message_path %>